{% extends "base.html" %}
{%block title%}管理站点{%endblock%}

{% block content %}
	<h1>欢迎 {{request.user}} 来到管理站点 </h1>
{% endblock content %}

{% block extend %}
	<div class="parent">
		<div class="left">
			<button style="margin:10px;" id='id_register' type='button' class="btn btn-primary" onclick='javascrtpt:window.location.href="{% url 'oltp_admin:index' %}"'>用户管理</button>

			<button style="margin:10px;" id='id_register' type='button' class="btn btn-primary" onclick='javascrtpt:window.location.href="{% url 'oltp_admin:review' %}"'>课程审核</button>
		</div>
		<div class="right">
        {% block right %}
				<h3>用户管理</h3>
				<div class="btn-group btn-group-justified" role="group">
            		<a id="dialog_link" class="btn btn-primary" role="button" href="#"><span class="glyphicon glyphicon-plus"></span> 新建</a>
            		<a id="dialog_button_search" class="btn btn-primary" role="button" data-toggle="modal" data-target=".bs-example-modal-sm"><span class="glyphicon glyphicon glyphicon-search"></span> 查询</a>
            		<a id="dialog_button_update"  class="btn btn-primary" role="button"><span class="glyphicon glyphicon glyphicon-edit"></span> 更改</a>
            		<a  id="id_delete"    class="btn btn-danger"  role="button"><span class="glyphicon glyphicon-trash"></span> 删除</a>           
        		</div>
       <form method="post" action="/oltp/admin/" name="postData" id="id_postData">
        {% csrf_token %}
            <table class="table table-striped" id="table_list_userInfo" >
                <tbody id="table_body">
                <tr class="info" id="biaotou">
                	<td><strong>用户名</strong></td>
                    <td><strong>邮箱</strong></td>
                    <td><strong>状态</strong></td>
                    <td><strong>分组</strong></td>
                </tr>
                {% if users %}
                    {% for user in users %}
                                <tr  class="list" >
                                    <td data-toggle="tooltip" data-placement="left" id="td_username">{{ user.username}}</td>
                                    <td data-toggle="tooltip" data-placement="left" id="td_email">{{ user.email}}</td>
                                    <td data-toggle="tooltip" data-placement="left" id="td_active"> {{ user.is_active}}</td>
                                    <td data-toggle="tooltip" data-placement="left" id="td_group">{{ user.group_name }}</td>
                                </tr>
                    {% endfor %}
                {% else %}
                    <p>没找到用户</p>
                {% endif %}
                </tbody>
            </table>
            <input id="id_reference_user" type="hidden" name="reference_user" value="">
            <input id="id_type" type="hidden" name="type" value="">
        </form>
        		<nav aria-label="...">
  					<ul class="pager">
    					<li><a href="#" id="PreviousPage" for="postData">Previous</a></li>
    					<li><a href="#" id="NextPage" for="postData">Next</a></li>
  					</ul>
				</nav>

                {# 新增用户隐藏表单 #}
                <div id="dialog" align="center">
                    <div class="form-group">
                        <label class="lb">昵称: </label> 
                        <input class="form-control" id="dia_username" name="username" type="text" />
                    </div class="form-group">

                    <div class="form-group">
                        <label class="lb">邮箱: </label> 
                        <input  class="form-control" id="dia_email" name="email" type="text" />
                    </div>
                    <div class="form-group">
                        <label class="lb">密码:</label> 
                        <input  class="form-control" id="dia_password" name="password" type="password" />
                    </div>
                        <div >
                          <label >
                            <input type="radio" name="options" id="dia_teacher" autocomplete="off" >老师 
                          </label>
                          <label >
                            <input type="radio" name="options" id="dia_student" autocomplete="off" > 学生
                          </label>
                        </div>
            </div>

		</div>

        {# 修改选中用户信息 默认隐藏 #}
        <div id="dialog_update" align="center">
                <h3 align="left">admin</h3>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">邮箱</span>
                    <input type="text" class="form-control" placeholder="45@qq.com" aria-describedby="sizing-addon2" >
                    <span class="input-group-addon" id="sizing-addon2">分组</span>
                    <input type="text" class="form-control" placeholder="老师" aria-describedby="sizing-addon2">
                </div>
                <div class="input-group">
                <span class="input-group-addon" id="sizing-addon1">密码</span>
                    <input type="text" class="form-control" placeholder="******" aria-describedby="sizing-addon2">
                    <span class="input-group-addon" id="sizing-addon2">状态</span>
                    <input type="text" class="form-control" placeholder="TRUE" aria-describedby="sizing-addon2"> 
                </div>  
        </div>

        {# 查询 #}
        <div id ="myModal" class="modal fade bs-example-modal-sm"  role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" >
                    <div class="modal-content">
                        <h3>请输入用户名</h3>
                        <div class="input-group">
                            <input id="modal_input_search" type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                            <button id="modal_button_search" class="btn btn-primary" type="button">Go!</button>
                            </span>
                        </div>
            </div>
            </div>
        </div>
        {% endblock right %}
</div>
	<a href="{% url 'oltp_admin:logout' %}">注销</a></h1>
{% endblock extend %}