{% extends "base.html" %}

{% block content%}
	<br> 
	<ul class="nav nav-pills page-header">
		  <li role="presentation" ><a href="#">关注列表</a></li>
		  <li role="presentation"><a href="#">粉丝列表</a></li>
		  <button class="btn btn-primary navbar-right" id="sendMessage">发私信</button>
	</ul>
	
	{% for myMsg in myMsgs %}
		<div class="myMsg page-header">

			<div name="friendName" align="left">
				<form method="post" action="/QaPlat/message/" id={{myMsg.fromid}} name={{myMsg.fromid}}>
					<a href="#" class="friendId_sub" for={{myMsg.fromid}}>{{myMsg.friendName}}</a> {{myMsg.createdate}} 
					<input type="hidden" name="friendId" value={{myMsg.fromid}} >
					<input type="hidden" name="type" value="conversationMsg">
				</form>
				
			</div>

			<div class="" name="content">
				{{myMsg.content}}
			</div>
			<div align="left">
					{{myMsg.hasRead}}
			</div>
			
		</div>
	{% endfor %}

{% endblock content %}