{% extends "base.html" %}


{% block content%}
				<div class="page-header">
	  				<h1>问答平台</h1>
				</div>
				<p align="left">欢迎大家来到讨论区！本讨论区供各位同学就课程问题进行交流学习。请同学们认真阅读下面的【讨论区使用规则】，然后再进行相关发表，谢谢！</p>
				<br>
				<div align="left">
				<a id="button_publicQ"  class="btn btn-primary" role="button" href="{% url 'QaPlat:publicQ' %}" ><span class="glyphicon glyphicon glyphicon-edit"></span>发布问题</a>
				</div>

				<div class="page-header" align="left">
	  				<h4>我关注的问题</h4>
				</div>
				<br>
				<br>
				<div class="page-header" align="left">
	  				<h4>最新问题</h4>
	  			</div>

	  			<div>
	  				{% for newQuestion in news %}
		  				  <div class="new_questions" style="margin-bottom:20px">
		  					<div class="new_questions_user" align="left">
		  						<h4>{{newQuestion.username}}
		  						创建于:{{newQuestion.date}}</h4>
		  					</div>
		  					<div class="new_questions_title">
		  						{# <h3>{{newQuestion.title}}</h3> #}
		  						{{newQuestion.title}}
		  					</div>
		  					<div class="new_questions_content">
		  						  {{newQuestion.content}}
		  					</div>
		  				  </div>
	  			   {% endfor %}

				</div>



{% endblock content%}