{% extends "base.html" %}


{% block content%}
				<div class="page-header">
	  				<h1>问答平台</h1>
				</div>
				<p align="left">欢迎大家来到讨论区！本讨论区供各位同学就课程问题进行交流学习。请同学们认真阅读下面的【讨论区使用规则】，然后再进行相关发表，谢谢！</p>
				<br>
				<div align="left">
				<a id="button_publicQ"  class="btn btn-primary" role="button" href="{% url 'QaPlat:publicQ' %}" ><span class="glyphicon glyphicon glyphicon-edit"></span>发布问题</a>
				</div>

				<div class="page-header" align="left">
	  				<h4>我关注的问题</h4>
				</div>
				<br>
				<br>
				<div class="page-header" align="left">
	  				<h4>最新问题</h4>
	  				<div id="new_questions">
	  					<div id="new_questions_user">
	  						
	  					</div>
	  					<div id="new_questions_title">
	  						<p> <strong>未来百度、阿里巴巴、腾讯三巨头谁会独领风骚？ </strong> </p>
	  					</div>
	  					<div id="new_questions_content">
	  						<text>
	  								其实腾讯已经到顶峰，阿里才刚起步。微信腾讯游戏都已经做到了极致。而阿里的天猫出海，菜鸟物流，阿里云，蚂蚁
	  					</div>
	  					<div id="new_questions_sociality">
	  						
	  					</div>
	  					
	  				</div>
				</div>

{% endblock content%}