{% extends "base.html" %}


{% block content%}
				<div class="page-header">
	  				<h1>问答平台</h1>
				</div>
				<p align="left">欢迎大家来到讨论区！本讨论区供各位同学就课程问题进行交流学习。请同学们认真阅读下面的【讨论区使用规则】，然后再进行相关发表，谢谢！</p>
				<br>
				<div align="left">
				<a id="button_publicQ"  class="btn btn-primary" role="button" href="{% url 'QaPlat:publicQ' %}" ><span class="glyphicon glyphicon glyphicon-edit"></span>发布问题</a>
								<a id="button_T"  class="btn btn-primary" role="button" 
								href="{% url 'oltp_admin:index' %}" ><span class="glyphicon glyphicon glyphicon-edit"></span>教学平台</a>
				</div>

				<div class="page-header" align="left">
	  				<h4>我关注的问题</h4>
				</div>
				<br>
				<br>
				<div class="page-header" align="left">
	  				<h4>最新问题</h4>
	  			</div>

	  			<div>
	  				{% for newQuestion in news %}
		  				  <div class="new_questions page-header" style="margin-bottom:20px">
		  					<div class="new_questions_user" align="left">
		  						<h4 style="display:inline" >{{newQuestion.username}}</h4>
		  						<h5 style="display:inline">创建于:{{newQuestion.date}}</h5>
		  					</div>
		  					<div class="new_questions_title">
		  						<form action="/QaPlat/oneQuestion/" method="post" name="postQaId" id={{newQuestion.id}} >
			  						<h3><a href="#" for="postQaId" class="questionTilte">{{newQuestion.title}}</a></h3>
			  						<input hidden="" name="questionId" id="qid_input" value={{newQuestion.id}} >
			  						{# {{newQuestion.title}} #}
		  						</form>
		  						
		  					</div>
		  					<div class="new_questions_content">
		  						  {{newQuestion.content}}
		  					</div>

		  					<div class="glyphicon glyphicon-hand-right like "  align="right">
		  					</div>
		  					<span>{{newQuestion.likeCount}}</span>
		  					<div class="glyphicon glyphicon-thumbs-down dislike"  align="left">
		  					</div>
		  					<input hidden="" name="questionId" value={{newQuestion.id}} >
			  				<input hidden="" name="type"  value={{newQuestion.type}} >
		  				  </div>
	  			   {% endfor %}

				</div>



{% endblock content%}